.header-announce {
    width: 100vw;
    height: 52px;
    display: block;
    background-color: rgb(7, 8, 13);
    padding: 1px;
    color: rgb(245, 245, 245);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    user-select: none;
    display: flex;
    gap: 5rem;
    overflow: hidden;
}

.header-announce ul{
    list-style: none;
    flex-shrink: 0;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    animation: scroll 20s linear infinite;
}

.header-nnounce ul:first-child {
    background-color: rgba(33, 202, 17, 0.959);
}

.header-anounce ul:last-child {
    background-color: rgb(231, 47, 15);
}


@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 5rem))
  }
}

.capa1{
  width: 100vw;
  height: 700px;
  background-color: rgb(176, 188, 142);
  overflow: auto;
}

.header{
  width: 85vw;
  height: 65px;
  background-color: rgb(190, 41, 63);
  margin: auto;
  margin-top: 40px;
  border-radius: 350px
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }