.header-announce {
    width: 100vw;
    height: 52px;
    background-color: rgb(7, 8, 13);
    padding: 1px;
    color: rgb(245, 245, 245);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    position: absolute;
    user-select: none;
    display: flex;
    gap: 5rem;
    top: 0;
}

.header-announce ul{
    list-style: none;
    flex-shrink: 0;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 5rem))
  }
}

.capa1{
  width: 100vw;
  height: 1900px;
  background-color: rgb(176, 188, 142);
  overflow: hidden;
  text-align: center;
}

.header{
  width: 85vw;
  height: 65px;
  background-color: rgb(190, 41, 63);
  margin: auto;
  margin-top: 90px;
  border-radius: 350px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.inner-header{
  width: 100vw;
  display: flex;
  margin: 0 auto;
  width: 96%;
}

nav{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu{
  height: 43px;
  width: 44px;
  margin-right: auto;
  margin-left: -20px;
  margin-top: -4.5px;
  position: relative;
}

.menu span{
  height: 4px;
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.menu span:nth-child(1){
  top: 28%;
}
.menu span:nth-child(3){
  top: 72%;
}

.logo{
  height: 3.5%;
  width: 3.5%;
  margin-top: 15px;
  position: absolute;
}

.cart{
  position: absolute;
  height: 3%;
  width: 1.7%;
  margin-top: 18px;
  margin-left: 1480px;
}

.capa1-left{
  width: 33%;
  height: 700px;
  line-height: 200px;
  margin-top: 55px;
  margin-left: 146px;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  float: left;
}

.nuevo-drop{
  background-color: rgb(117, 73, 73);
  width: 90%;
  height: 350px;
  margin-right: auto;
  margin-top: 70px;
}

.nuevo-drop-texto{
  text-align: left;
  font-size: 130px;
  display: table-cell;
  vertical-align: middle;
  line-height: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
}

.descripcion-drop{
  background-color: rgb(117, 73, 73);
  width: 90%;
  height: 100px;
  margin-top: 10px;
  margin-right: auto;
}

.descripcion-drop-texto{
  text-align: left;
  font-size: 25px;
  display: table-cell;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}

.boton-drop{
  background-color: rgb(117, 73, 73);
  width: 90%;
  height: 15%;
  margin-top: 10px;
}

.capa1-right{
  width: 50%;
  height: 700px;
  line-height: 200px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: 146px;
  overflow: hidden;
  text-align: center;
  border-radius: 50px;
}

.banner{
    position: relative;
    height: 700px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    overflow: auto;
    overflow-x: hidden;
  }