.header-announce {
  width: 100vw;
  height: 52px;
  background-color: rgb(7, 8, 13);
  padding: 1px;
  color: rgb(245, 245, 245);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  position: absolute;
  user-select: none;
  display: flex;
  gap: 5rem;
  top: 0;
}

.header-announce ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 5rem));
  }
}

.capa1 {
  width: 100vw;
  height: 1000px;
  background-color: rgb(176, 188, 142);
  overflow: hidden;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.header {
  width: 93vw;
  height: 65px;
  background-color: rgb(190, 41, 63);
  margin: auto;
  margin-top: 95px;
  border-radius: 350px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.inner-header {
  width: 100vw;
  display: flex;
  margin: 0 auto;
  width: 96%;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu {
  height: 43px;
  width: 44px;
  margin-right: auto;
  margin-left: -20px;
  margin-top: -4.5px;
  position: relative;
}

.menu span {
  height: 4px;
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.menu span:nth-child(1) {
  top: 28%;
}
.menu span:nth-child(3) {
  top: 72%;
}

.logo {
  height: 3.5%;
  width: 3.5%;
  margin-top: 15px;
  position: absolute;
  user-select: none;
}

.cart {
  position: absolute;
  height: 3%;
  width: 1.7%;
  margin-top: 18px;
  margin-left: 1635px;
  user-select: none;
}

.capa1-left {
  width: 41%;
  height: 700px;
  line-height: 200px;
  margin-top: 85px;
  margin-left: 75px;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  float: left;
  user-select: none;
}

.nuevo-drop {
  width: 100%;
  height: 350px;
  margin-right: auto;
  margin-top: 50px;
  background-color: alicblue;
}

.nuevo-drop-texto {
  text-align: left;
  font-size: 195px;
  display: table-cell;
  vertical-align: middle;
  line-height: 180px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  user-select: none;
}

.descripcion-drop {
  width: 100%;
  height: 100px;
  margin-top: 60px;
  margin-right: auto;
  user-select: none;
  margin-bottom: -20px;
}

.descripcion-drop-texto {
  text-align: left;
  font-size: 27.5px;
  display: table-cell;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: alicblue;
}

@font-face {
  font-family: canobis;
  src: url(Fonts/Canobis.otf);
}

.boton-drop {
  background-color: rgb(12, 12, 12);
  width: 270px;
  height: 11%;
  border-radius: 125px;
  margin-top: 60px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(112, 148, 91, 0.2)
}

.boton-drop-texto {
  color: rgb(176, 188, 142);
  font-family: Canobis;
  text-align: center;
  position: relative;
  top: -58px;
  font-size: 48px;
  letter-spacing: 1.5px;
  user-select: none;
}

.capa1-right {
  width: 50%;
  height: 700px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: 75px;
  overflow: hidden;
  border-radius: 30px;
  user-select: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(110, 179, 113, 0.2);
}

.banner {
  width: auto;
  height: 800px;
  object-fit: cover;
  object-position: center;
}

#capa2-outer {
  width: 100vw;
  height: 100px;
  background-image: linear-gradient(rgb(176, 188, 142), rgb(238, 237, 237));
  margin: 0px;
  padding: 0px;
}

#capa2 {
  background-color: rgb(255, 255, 255);
  width: 90vw;
  height: 70px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  user-select: none;
  display: flex;
  gap: 5rem;
  overflow: hidden;
  border-radius: 35px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(30%);
  box-shadow: 4px 8px 15px rgba(61, 60, 60, 0.2) inset, 2px 4px 10px rgba(100, 97, 97, 0.356) inset;
}

#capa2 ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  word-spacing: 15px;
  font-size: 16px;
  transform: translate(0%, 0%);
  margin: 0; /*remove default margin*/
  padding: 0; /*remove default padding*/
  animation: scroll 70s linear infinite;
  margin-right: -60px;
}

#capa2 ul:nth-child(1) {
  background-color: whit; /*to see first ul*/
}

.icono {
  height: 30px;
  margin-top: 5px;
}

.capa3 {
  background-color: rgb(238, 237, 237);
  width: 100vw;
  height: 1500px;
  margin: 0rem;
}

#products-container {
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#products-container:nth-child(2) {
  margin-top: 100px;
}

.product {
  width: 22vw;
  height: 550px;
  background-color: rgb(247, 247, 247);
  margin-left: 20px;
  margin-top: 60px;
  border-radius: 40px;
  box-shadow: 0 10px 5px rgba(177, 170, 170, 0.1), 0 15px 40px rgba(59, 55, 55, 0.1);
}

.product:nth-child(1) {
  margin-left: 50px;
}

.product:nth-child(4) {
  margin-right: 50px;
}

body {
  margin: 0rem; /*se bugea*/
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  overflow: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vw;
}

footer{
  background-color: black;
  height: 400px;
  width: 100vw;
}